{% extends 'core/base.html' %}

{% block content %}
<h1>Here</h1>

<div hx-target="this" hx-swap="outerHTML">
    <div><label>First Name</label>: {{ request.contact.first_name }}</div>
    <div><label>Last Name</label>: {{ request.contact.last_name }}</div>
    <div><label>Email</label>: {{ request.contact.email }}</div>
    <!-- <button hx-get="contact/edit/" contact=request.contact class="btn btn-primary"> -->
    <button hx-get="{% url 'contact_edit' id=request.contact.id %}">
    Click To Edit
    </button>
</div>

{% endblock %}